raw_data/
lebalImg/
notebook/
runs/
.DS_Store
yolov8-streamlit-detection-tracking/
app_streamlit/
notebook_ignore/
Notes for presentation.md
alarm_sound/
logo_streamlit/
best.pt
logo_streamlit/
notebook_ignore/
labelImg_ignore
